# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/6.3/vcsMetadata-1/
.gradle/6.5/vcsMetadata-1/
build/generated/
src/main/java/xyz/ReisMiner/config.json
src/main/resources/
src/test/
src/main/java/xyz/ReisMiner/token.java
out/artifacts/Five_moods_jar/Five-moods.jar
out/artifacts/Five_moods_main_jar/Five-moods.main.jar
